@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Segoe UI","微軟正黑體",sans-serif; }

.wrap {
  max-width: 1024px;
  margin: 0 auto;
  background-color: #EFE9E7; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;
  width: 100%;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 97; }
  @media (max-width: 768px) {
    .header {
      height: auto; } }
  .header h1 a {
    background-image: url(../imgs/logo-243.svg);
    background-repeat: no-repeat;
    display: block;
    background-size: 100%;
    width: 120px;
    padding-bottom: 30px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 10px;
    margin-top: 3px; }
  .header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 768px) {
      .header .menu {
        max-height: 0;
        display: block;
        overflow: hidden;
        text-align: center;
        -webkit-transition: max-height 1.5s ease;
        -o-transition: max-height 1.5s ease;
        transition: max-height 1.5s ease;
        position: absolute;
        z-index: 100;
        right: 0;
        left: 0;
        top: 49px;
        background-color: rgba(199, 220, 209, 0.8); } }
    .header .menu li {
      padding: 0 0 0 3px; }
      .header .menu li a {
        padding: 17px 0px;
        width: 100px;
        font-size: 18px;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-decoration: none;
        color: #000000;
        font-weight: bold; }
        .header .menu li a:hover {
          background-color: #c7dcd1;
          opacity: 0.5;
          color: #555857;
          -webkit-transition: 0.7s ease;
          -o-transition: 0.7s ease;
          transition: 0.7s ease; }
        .header .menu li a i {
          font-size: 14px;
          padding-right: 2px; }
        @media (max-width: 768px) {
          .header .menu li a {
            padding: 10px 0;
            width: 100%;
            color: #555857; } }
  .header .show-menu {
    display: none; }
    @media (max-width: 768px) {
      .header .show-menu {
        display: block;
        color: #3f5d45;
        text-decoration: none;
        padding-right: 10px; } }

.menuList .menu {
  max-height: 153px; }

.banner {
  background-image: url(../imgs/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-height: 300px;
  padding-bottom: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: -52px; }
  @media (max-width: 768px) {
    .banner {
      padding-bottom: 55%; } }
  @media (max-width: 415px) {
    .banner {
      background-image: url(../imgs/banner-s.jpg);
      padding-bottom: 70%; } }
  .banner .inner-box {
    text-align: center;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 350px;
    padding: 25px 0;
    border-radius: 2%;
    -webkit-box-shadow: 0px 4px 4px -1.5px #8e8e8e;
    box-shadow: 0px 4px 4px -1.5px #8e8e8e; }
    @media (max-width: 768px) {
      .banner .inner-box {
        margin-top: 300px;
        width: 53%; }
        .banner .inner-box h2 {
          display: none; } }
    @media (max-width: 415px) {
      .banner .inner-box {
        margin-top: 300px;
        width: 100%;
        max-height: 200px;
        display: none; } }
    .banner .inner-box h2 {
      font-size: 30px;
      letter-spacing: 0.2em;
      font-weight: bold;
      margin-bottom: 35px; }
      @media (max-width: 768px) {
        .banner .inner-box h2 {
          font-size: 28px;
          letter-spacing: 0.1em; } }
      @media (max-width: 415px) {
        .banner .inner-box h2 {
          font-size: 20px;
          letter-spacing: 0.1em;
          margin-bottom: 20px; } }
    .banner .inner-box p {
      font-size: 20px;
      margin-top: 10px;
      letter-spacing: 0.2em; }
      .banner .inner-box p span {
        color: #3f5d45; }
      @media (max-width: 415px) {
        .banner .inner-box p {
          font-size: 13px;
          margin-top: 5px; } }

.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-top: 20px;
  height: auto;
  background-color: #c7dcd1;
  color: #555857; }
  @media (max-width: 768px) {
    .footer {
      -webkit-box-pack: around;
      -ms-flex-pack: around;
      justify-content: around;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      text-align: center; } }
  .footer .aboutus {
    width: 20%;
    margin-bottom: 10px; }
    @media (max-width: 768px) {
      .footer .aboutus {
        width: 30%; } }
    @media (max-width: 415px) {
      .footer .aboutus {
        width: 100%;
        padding: 0px 20px; } }
    .footer .aboutus h4 {
      font-size: 25px;
      margin-bottom: 10px; }
    @media (max-width: 415px) {
      .footer .aboutus p {
        text-align: left; } }
  .footer .contact {
    width: 30%;
    margin-bottom: 10px; }
    @media (max-width: 768px) {
      .footer .contact {
        width: 50%; } }
    @media (max-width: 415px) {
      .footer .contact {
        width: 100%;
        padding: 0px 20px; } }
    .footer .contact h5 {
      font-size: 20px;
      margin-bottom: 10px; }
      @media (max-width: 415px) {
        .footer .contact h5 {
          margin-top: 15px; } }
    .footer .contact ul {
      list-style: disc;
      margin-left: 1.5em; }
      .footer .contact ul li {
        padding: 2px 0; }
      @media (max-width: 415px) {
        .footer .contact ul {
          text-align: left; } }
  .footer .soical-Link {
    width: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-line-pack: start;
    align-content: flex-start; }
    @media (max-width: 768px) {
      .footer .soical-Link {
        width: 50%;
        padding-left: 10px; } }
    @media (max-width: 415px) {
      .footer .soical-Link {
        width: 90%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
    .footer .soical-Link > img {
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      margin-bottom: 10px;
      margin-top: 10px;
      max-width: 243px;
      max-height: 51px; }
      @media (max-width: 415px) {
        .footer .soical-Link > img {
          margin-bottom: 5px;
          padding: 0 5px; } }
    .footer .soical-Link ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .footer .soical-Link ul a {
        padding: 3px;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center; }

.feature {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative; }
  .feature .feature-title {
    margin-top: 10px;
    text-align: center;
    font-family: cursive; }
    .feature .feature-title:before {
      width: 14%;
      border-bottom: 2px solid #c7dcd1;
      content: "";
      position: absolute;
      top: 11%;
      left: 20%; }
      @media (max-width: 768px) {
        .feature .feature-title:before {
          left: 17%;
          top: 3%; } }
      @media (max-width: 415px) {
        .feature .feature-title:before {
          top: 3%;
          left: 10%; } }
    .feature .feature-title:after {
      width: 14%;
      border-bottom: 2px solid #c7dcd1;
      content: "";
      position: absolute;
      top: 11%;
      right: 20%; }
      @media (max-width: 768px) {
        .feature .feature-title:after {
          right: 17%;
          top: 3%; } }
      @media (max-width: 415px) {
        .feature .feature-title:after {
          top: 3%;
          right: 10%; } }
    .feature .feature-title h2 {
      display: block;
      font-size: 30px; }
    .feature .feature-title span {
      margin-top: 10px;
      display: block;
      font-size: 25px; }
      @media (max-width: 415px) {
        .feature .feature-title span {
          font-size: 20px; } }
  .feature ul {
    width: 90%;
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    @media (max-width: 768px) {
      .feature ul {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row; } }
    .feature ul li {
      width: 30%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0 20px;
      line-height: 1.5em; }
      @media (max-width: 768px) {
        .feature ul li {
          width: 90%;
          margin-bottom: 20px;
          padding: 0 10px;
          margin-top: 20px; } }
      .feature ul li img {
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        border-radius: 50%;
        margin-bottom: 10px; }
      .feature ul li span {
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 10px; }

.service {
  margin: 0 10px;
  background-color: #c7dcd1;
  border-radius: 25px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 768px) {
    .service {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  .service img {
    margin: 20px 25px;
    max-width: 90%;
    border-radius: 25px;
    -webkit-box-shadow: 0px 2px 5px 1px #555857;
    box-shadow: 0px 2px 5px 1px #555857; }
    @media (max-width: 415px) {
      .service img {
        margin: 20px 0;
        width: 90%; } }
  .service span {
    font-size: 40px;
    color: #555857;
    font-family: cursive;
    font-weight: bold; }
    @media (max-width: 768px) {
      .service span {
        font-size: 40px; } }
    @media (max-width: 415px) {
      .service span {
        -webkit-writing-mode: none;
        -ms-writing-mode: none;
        writing-mode: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-size: 30px; } }
  .service .letter-hight {
    margin: -3em 0.3em 0 0.5em; }
    @media (max-width: 768px) {
      .service .letter-hight {
        margin-top: -1.9em;
        margin-left: 0em; } }
    @media (max-width: 415px) {
      .service .letter-hight {
        margin-left: 0em;
        margin-top: -1em; } }
  .service .letter-low {
    margin-top: 3em; }
    @media (max-width: 415px) {
      .service .letter-low {
        margin-top: 1.8em;
        margin-left: -1.5em; } }
  .service p {
    font-size: 18px;
    padding-right: 16px;
    line-height: 1.8em; }
    @media (max-width: 768px) {
      .service p {
        padding: 5px 30px 20px 30px; } }

.avatar {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: columns;
  flex-direction: columns;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow: hidden; }
  .avatar h2 {
    font-size: 30px;
    font-family: cursive;
    position: relative; }
    .avatar h2:before {
      content: '';
      position: absolute;
      width: 50%;
      border-bottom: 2px solid #c7dcd1;
      left: -70%;
      top: 50%; }
      @media (max-width: 768px) {
        .avatar h2:before {
          left: -40%;
          width: 30%; } }
      @media (max-width: 415px) {
        .avatar h2:before {
          left: -20%;
          width: 20%; } }
    .avatar h2:after {
      content: '';
      position: absolute;
      width: 50%;
      border-bottom: 2px solid #c7dcd1;
      right: -70%;
      top: 50%; }
      @media (max-width: 768px) {
        .avatar h2:after {
          right: -40%;
          width: 30%; } }
      @media (max-width: 415px) {
        .avatar h2:after {
          right: -20%;
          width: 20%; } }
  .avatar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 90%; }
    @media (max-width: 768px) {
      .avatar ul {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        margin-top: 20px; } }
    .avatar ul li {
      width: 30%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      padding: 10px 20px; }
      @media (max-width: 768px) {
        .avatar ul li {
          padding: 10px 0px 10px 20px;
          width: 95%;
          padding: 0 20px; } }
    .avatar ul img {
      border-radius: 50%;
      margin-right: 10px; }
    .avatar ul span {
      display: block;
      margin-top: 20px;
      margin-bottom: 20px; }
    .avatar ul p {
      padding: 3px; }
    .avatar ul .avatar-name {
      text-align: right;
      margin-bottom: 10px; }

.online-check {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-bottom: 20px;
  background-color: #fff; }
  @media (max-width: 768px) {
    .online-check {
      padding-bottom: 60px; } }
  .online-check h2 {
    width: 100%;
    display: block;
    font-size: 30px;
    font-family: cursive;
    text-align: center;
    margin: 30px 0 10px 0; }
  .online-check iframe {
    padding: 10px 30px 20px 50px; }
    @media (max-width: 768px) {
      .online-check iframe {
        width: 90%;
        height: 300px;
        padding: 20px; } }
  .online-check form {
    display: block;
    width: 45%;
    height: auto;
    margin-top: 5px; }
    @media (max-width: 768px) {
      .online-check form {
        width: 90%;
        padding-left: 50px; } }
    .online-check form label {
      display: block;
      margin: 10px 0 5px 0; }
    .online-check form #name, .online-check form #tel, .online-check form #email, .online-check form #num {
      height: 10%;
      width: 80%; }
      @media (max-width: 768px) {
        .online-check form #name, .online-check form #tel, .online-check form #email, .online-check form #num {
          height: 13%; } }
    .online-check form input {
      padding-left: 5px;
      font-size: 17px;
      border-radius: 2px;
      border: 1px solid gray; }
      .online-check form input:focus {
        outline: 2px solid green; }
    .online-check form input[type=radio] {
      background-color: #000; }
    .online-check form input[type=submit], .online-check form input[type=button] {
      float: right;
      padding: 5px 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      color: #ffffff; }
      @media (max-width: 768px) {
        .online-check form input[type=submit], .online-check form input[type=button] {
          margin-top: 10px; } }
      @media (max-width: 415px) {
        .online-check form input[type=submit], .online-check form input[type=button] {
          float: none; } }
    .online-check form .send {
      margin-right: 90px;
      margin-left: 10px;
      background-color: orange; }
      .online-check form .send:hover {
        background-color: #bf7c00; }
      @media (max-width: 768px) {
        .online-check form .send {
          margin-right: 60px;
          margin-top: 10px; } }
      @media (max-width: 415px) {
        .online-check form .send {
          margin-right: 10px;
          float: none; } }
    .online-check form .cancle {
      background-color: grey; }
      .online-check form .cancle:hover {
        background-color: #4a4a49; }

.clearfix:after, .clearfix:before {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.reg {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto; }
  @media (max-width: 415px) {
    .reg {
      width: 100%; } }
  .reg .reg-tit {
    margin: 10px 0;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 40px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    @media (max-width: 415px) {
      .reg .reg-tit {
        width: 70%; } }
    .reg .reg-tit p {
      margin-top: -10px; }
  .reg form {
    padding: 15px 15px;
    width: 50%;
    margin: 20px 20px 50px 20px;
    background-color: #c7dcd1;
    border-top: 2px solid green;
    -webkit-box-shadow: 3px 3px 5px -1px gray;
    box-shadow: 3px 3px 5px -1px gray; }
    @media (max-width: 768px) {
      .reg form {
        width: 70%; } }
    @media (max-width: 415px) {
      .reg form {
        width: 90%; } }
    .reg form p {
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 35px;
      margin-top: 10px; }
    .reg form label {
      display: block;
      margin-top: 20px;
      font-size: 18px; }
      .reg form label span {
        color: red;
        padding-left: 3px; }
    .reg form #email, .reg form #psw, .reg form #user, .reg form #birth {
      height: 32px;
      width: 95%;
      border-radius: 2px;
      border: none;
      margin-top: 8px;
      text-indent: 10px; }
    .reg form a {
      display: block;
      font-size: 14px;
      text-decoration: none;
      color: red;
      margin: 10px 0 15px 0; }
      .reg form a:hover {
        color: brown; }
    .reg form input[type=submit] {
      padding: 5px 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      color: #ffffff;
      margin-left: 27%;
      margin-top: 6%;
      margin-bottom: 5%;
      width: 40%;
      height: 30px;
      background-color: green; }

.login {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto; }
  @media (max-width: 415px) {
    .login {
      width: 100%; } }
  .login .log-tit {
    margin: 10px 0;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 40px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    @media (max-width: 415px) {
      .login .log-tit {
        width: 70%; } }
    .login .log-tit p {
      margin-top: -10px; }
  .login form {
    padding: 15px 15px;
    width: 50%;
    margin: 20px 20px 50px 20px;
    background-color: #c7dcd1;
    border-top: 2px solid green;
    -webkit-box-shadow: 3px 3px 5px -1px gray;
    box-shadow: 3px 3px 5px -1px gray; }
    @media (max-width: 768px) {
      .login form {
        width: 70%; } }
    @media (max-width: 415px) {
      .login form {
        width: 90%; } }
    .login form p {
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 35px;
      margin-top: 10px; }
    .login form label {
      display: block;
      margin-top: 20px;
      font-size: 18px; }
      .login form label span {
        color: red;
        padding-left: 3px; }
    .login form #email, .login form #psw {
      height: 32px;
      width: 95%;
      border-radius: 2px;
      border: none;
      margin-top: 8px;
      text-indent: 34px; }
    .login form .i-email {
      position: relative; }
      .login form .i-email:before {
        font-family: "FontAwesome";
        content: "\f0e0";
        position: absolute;
        font-size: 18px;
        top: 33px;
        left: 7px;
        color: gray; }
    .login form .i-psw {
      position: relative; }
      .login form .i-psw:before {
        font-family: "FontAwesome";
        content: "\f023";
        position: absolute;
        font-size: 18px;
        top: 33px;
        left: 7px;
        color: gray; }
    .login form a {
      display: block;
      font-size: 14px;
      text-decoration: none;
      color: red;
      margin: 10px 0 15px 0; }
      .login form a:hover {
        color: brown; }
    .login form input[type=submit], .login form input[type=button] {
      padding: 5px 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      color: #ffffff;
      margin-left: 10%;
      margin-top: 5%;
      margin-bottom: 5%;
      width: 40%;
      height: 30px; }
    .login form input[type=button] {
      background-color: orange;
      margin-left: 5%; }
      .login form input[type=button]:hover {
        background-color: #d69729; }
    .login form input[type=submit] {
      background-color: green; }
      .login form input[type=submit]:hover {
        background-color: #046e1f; }

.online-shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 50px; }
  @media (max-width: 768px) {
    .online-shop {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.food-List {
  width: 30%;
  margin-left: 3%; }
  @media (max-width: 768px) {
    .food-List {
      margin-left: 0;
      width: 90%; } }
  .food-List h3 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-left: -2em; }
    @media (max-width: 768px) {
      .food-List h3 {
        margin-left: 0em; } }
  .food-List ul {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    @media (max-width: 768px) {
      .food-List ul {
        width: 100%;
        margin: 3% 0;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
    .food-List ul li {
      width: 90%; }
      @media (max-width: 768px) {
        .food-List ul li {
          width: 40%; } }
      @media (max-width: 415px) {
        .food-List ul li {
          width: auto; } }
      .food-List ul li a {
        display: block;
        padding: 10px 2px;
        text-decoration: none;
        color: #000;
        border-bottom: 2px solid #c7dcd1;
        -webkit-transition: background-color .35s ease;
        -o-transition: background-color .35s ease;
        transition: background-color .35s ease; }
        @media (max-width: 415px) {
          .food-List ul li a span {
            display: none; } }
        @media (max-width: 415px) {
          .food-List ul li a {
            width: 80px;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            border-bottom: 2px solid #c7dcd1; } }
        .food-List ul li a:hover {
          background-color: #c7dcd1; }
          @media (max-width: 415px) {
            .food-List ul li a:hover {
              background-color: transparent; } }
        .food-List ul li a.active {
          background-color: #c7dcd1; }
          @media (max-width: 415px) {
            .food-List ul li a.active {
              border-top: 2px solid #c7dcd1;
              border-right: 2px solid #c7dcd1;
              border-left: 2px solid #c7dcd1;
              border-top-right-radius: 5px;
              border-top-left-radius: 5px;
              border-bottom: none;
              background-color: transparent; } }

.food-Menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -20% 10px 50px 30%; }
  @media (max-width: 768px) {
    .food-Menu {
      margin: 20px 20px; } }
  .food-Menu .food-search {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .food-Menu .food-search .search {
      border: 2px solid green;
      min-width: 200px;
      height: 40px; }
      @media (max-width: 768px) {
        .food-Menu .food-search .search {
          width: 50%; } }
    .food-Menu .food-search .sec-icon {
      width: 40px;
      height: 40px;
      background-color: green;
      color: #fff;
      text-align: center;
      padding: 10px 10px;
      font-size: 20px; }
    .food-Menu .food-search .cart {
      margin-left: 5%;
      font-size: 25px;
      margin-top: 10px;
      height: 30px;
      text-decoration: none;
      color: #000000;
      display: block; }
      @media (max-width: 768px) {
        .food-Menu .food-search .cart {
          width: 50%;
          text-align: center; } }
      .food-Menu .food-search .cart span {
        text-decoration: none;
        position: relative; }
        .food-Menu .food-search .cart span:after {
          content: " ";
          height: 25px;
          position: absolute;
          border-right: 2px solid #000;
          right: -15px; }
      .food-Menu .food-search .cart i {
        margin-left: 30px; }
      .food-Menu .food-search .cart:hover {
        color: brown; }
      @media (max-width: 768px) {
        .food-Menu .food-search .cart {
          margin: 5px 10px; } }
  .food-Menu ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 50px; }
    @media (max-width: 768px) {
      .food-Menu ul {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
    .food-Menu ul li {
      width: 30%;
      height: 350px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-line-pack: start;
      align-content: flex-start;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center;
      margin: 5px 10px;
      border: 1.5px solid gray;
      -webkit-box-shadow: 0 2px 5px -2px gray;
      box-shadow: 0 2px 5px -2px gray;
      position: relative; }
      @media (max-width: 768px) {
        .food-Menu ul li {
          width: 40%; } }
      @media (max-width: 415px) {
        .food-Menu ul li {
          width: 80%; } }
      .food-Menu ul li .menu-icon {
        width: 25px;
        height: 25px;
        background-color: rgba(242, 22, 22, 0.8);
        position: absolute;
        top: 0;
        left: 5px; }
        .food-Menu ul li .menu-icon:before {
          content: " ";
          position: absolute;
          border-style: solid;
          border-width: 8px 13px 0 0;
          border-color: rgba(242, 22, 22, 0.8) transparent transparent transparent;
          top: 25px;
          left: 0px; }
        .food-Menu ul li .menu-icon:after {
          content: " ";
          position: absolute;
          border-style: solid;
          border-width: 0px 13px 8px 0px;
          border-color: transparent rgba(242, 22, 22, 0.8) transparent transparent;
          top: 25px;
          right: 0px; }
        .food-Menu ul li .menu-icon i {
          color: #fff;
          padding: 5px 0; }
      .food-Menu ul li img {
        width: 100%;
        height: 130px; }
      .food-Menu ul li span {
        display: block; }
      .food-Menu ul li .food-des {
        margin-top: 15px;
        padding: 0 5px; }
        .food-Menu ul li .food-des h4 {
          font-size: 20px;
          font-weight: bold;
          margin-bottom: 5px; }
        .food-Menu ul li .food-des span {
          margin-bottom: 20px; }
        .food-Menu ul li .food-des .price {
          font-weight: bold;
          font-size: 20px; }
        .food-Menu ul li .food-des button {
          width: 100px;
          height: 35px;
          background-color: #c7dcd1;
          border: none;
          cursor: pointer; }
          .food-Menu ul li .food-des button i {
            margin-right: 4px; }
