@import 'reset';
@import 'mixin';
@import 'layout';

.online-shop{
	
	display: flex;
	flex-wrap:wrap;
	width:90%;
	margin:0 auto;
	margin-top: 50px;
	@include pad(){
		justify-content: center;
	}
	@include iphoneX(){
		// flex-wrap:wrap;
	}
}
.food-List{
	width: 30%;
	margin-left: 3%;
	@include pad(){
		width: 100%;
	}
	h3{
		text-align: center;
		font-size: 25px;
		font-weight: bold;
		margin-left: -2em;
		@include pad(){
			margin-left: 0em;
		}
	}
	ul{
		margin-top: 30px;
		display: flex;
		flex-wrap: wrap;
	    @include pad(){
		    width: 100%;
		    margin:3% 15%;
		}
	    @include iphoneX(){
			justify-content: center;
			// flex-direction: row;
			margin:3% 0;
	    }
		li{
			display: flex;
			// margin:5px 0;
			@include pad(){
					width: 50%;
			}
			@include iphoneX(){
				width: auto;
			}
				
			a{
				display: flex;
				width: 200px;
				padding:10px 2px;
				text-decoration: none;
				color:#000;
				border-bottom: 2px solid $linkcolor;
				transition: background-color .35s ease;

				span{
					@include  iphoneX(){
						display: none;

					}
				}
				@include iphoneX(){
					width: 80px;
					justify-content: center;
					border-bottom:2px solid $linkcolor;
						
				}
				&:hover{
					background-color: $linkcolor;
					@include iphoneX(){
						background-color: transparent;
					}
				}
				&.active{
					background-color:$linkcolor;
					@include iphoneX(){

						border-top: 2px solid $linkcolor;
						border-right: 2px solid $linkcolor;
						border-left: 2px solid $linkcolor;
						border-top-right-radius: 5px; 
						border-top-left-radius: 5px; 
						border-bottom: none;
						background-color:transparent;
					}

				}

			}

		}
		
	}
}
.search{
	border:2px solid green;
	width: 330px;
	height: 40px;
	position: relative;
	i{
		width: 40px;
		height: 40px;
		background-color: green;
		position: absolute;
		right: 0;
		top: -2px;
		color:#fff;
		text-align: center;
		padding: 10px 0px;
		font-size: 20px;
	}
	@include pad(){
		margin: 20px 10px;
	}
	@include iphoneX(){
		
		width: 80%;
	}
}
.cart{
	margin-left: 15%;
	font-size:25px;
	margin-top: 10px;
	height: 30px;
	a{
		text-decoration: none;
		color:#000000;

		span{
			text-decoration: none;		   
		    position: relative;
		    &:after{
			    content: " ";
			    height: 25px;
			    position: absolute;
			    border-right: 2px solid #000;
			    right: -15px;
			}

		}
		i{
			margin-left:30px;
		}
		&:hover{
			color:brown;
		}
	}
	@include pad(){
		margin:25px 10px;
	}
	
}
.food-Menu{
	display: flex;
	margin:-15% 10px 10px 28%;
	@include pad() {
	margin:20px 20px;
	}
	
	ul{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		@include pad(){
			justify-content: center;
		}
		li{
			width: 30%;
			height: 300px;
			display: flex;
			flex-wrap: wrap;
			align-content:flex-start;
			justify-content: center;
			text-align: center;
			margin:5px 10px;
			border:1.5px solid gray;
			box-shadow: 0 2px 5px -2px gray;
			position: relative;
			@include pad(){
				width: 40%;
			}
			@include iphoneX(){
				width: 80%;
			}
			.menu-icon{
				width: 25px;
				height: 25px;
				background-color: rgba(242,22,22,0.8);
				position: absolute;
				top:0;
				left: 5px;
				&:before{
					content: " ";
					position: absolute;
					border-style: solid;
					border-width: 8px 13px 0 0;
					border-color:rgba(242,22,22,0.8) transparent transparent transparent ;
					top:25px;
					left:0px;
				}
				&:after{
					content: " ";
					position: absolute;
					border-style: solid;
					border-width: 0px 13px 8px 0px;
					border-color: transparent rgba(242,22,22,0.8) transparent transparent ;
					top:25px;
					right:0px;
				}
				i{
					color: #fff;
					padding: 5px 0;
				}
			}
			img{
				width: 100%;
				height: 130px;
			}
			span{
				display: block;
			}
			.food-des{
				margin-top:15px;
				padding:0 5px;
				h4{
					font-size:20px;
					font-weight: bold;
					margin-bottom: 5px;
				}
				span{
					margin-bottom: 20px;
				}
				.price{
					font-weight: bold;
					font-size:20px;
				}
				button{
					width: 100px;
					height: 35px;
					background-color:$linkcolor;
					border:none;
					cursor: pointer;
					i{
						margin-right: 4px;
					}
				}
			}
		}
	}

}